.nav-container {
    display: flex;
    color: white;
    padding: 25px 5% 25px 5%; 
    justify-content: space-between; 
    align-items: center; 
}

.nav-links {
    display: flex;
    width: auto; 
}

.nav-links ul {
    display: flex;
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    padding-top: 1%;
}

.nav-links ul li {
    margin: 0 1rem;
}
.nav-links ul li a:hover{
color: #FD5104;
cursor: pointer;
}
.contact-button{
    background-color:#FD5104;
    padding: 0.5rem;
    border-radius: 61px;
}
.Desktop-Footer{
    background-color: black;
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 3rem 3rem;
}
.Orange-Footer{
    background-color: rgba(253, 81, 4, 1);
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 3rem 3rem;
}
.footer-nav-links ul{
    display: flex;
    margin-top: 0.5rem;
}
.footer-nav-links ul li {
    margin: 0px 1rem;
}

.footer-social-links{
    display: flex;
    margin-top: 0.5rem;
}
.footer-social-links img{
    width: 30px;
    height: 30px;
    margin: 0rem 0.5rem;
}


@media (max-width: 763px) {
    .Desktop-Footer,.Orange-Footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2rem 1rem;
    }

    .footer-nav-links ul {
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }

    .footer-nav-links ul li {
        margin: 0.5rem 1rem;
    }

    .footer-social-links {
        margin-top: 1rem;
        justify-content: center;
    }

    .footer-social-links img {
        width: 25px;
        height: 25px;
        margin: 0 2rem;
    }
 
}

@media (max-width: 768px) {
    .nav-container {
        flex-direction: column; 
        padding: 20px 2%;
    }
    
    .nav-links ul {
        flex-direction: column; 
        align-items: center; 
    }
    
    .nav-links ul li {
        margin: 0.5rem 0;
    }
    
}
